/* Estilos para la lista de productos */
.producto-container {
  margin-top: 5%;
  display: grid;
  grid-gap: 2%;
  max-width: 100%;
  overflow-y: hidden;
  padding-bottom: 300px;
}

@media (min-width: 768px) {
  .producto-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    padding-bottom: 150px;
  }
}

.producto-card {
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 480px) {
  .producto-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 200px;
}

.card-location {
  display: flex;
  align-items: center;
}

.card-location h4 {
  margin-left: 5px;
}

@media (min-width: 480px) {
  .card-img-container {
    height: 150px;
    width: 200px;
  }
}

.producto-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
  width: 100%;
}

.card-img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.ver-detalle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
